* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }

/* Only applies to index.html */
/* Only applies to index.html */
/* Only applies to index.html */

/* Beginning: Header */
#highscore-link {
    float: left;
    font-size: 20px;
}

#timer {
    float: right;
    font-size: 20px;
}
/* End: Header */

/* Beginning: Main */
.main {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Beginning: Welcome */
#start-btn {
    border-radius: 5px;
    padding: 5px;
}

#start-btn:hover {
    cursor: pointer;
}
/* End: Welcome */

/* Beginning: Quiz */
#question {
    font-weight: bold;
}

.btn-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer-buttons {
    border-radius: 5px;
    padding: 10px;
    background-color: lightgray;
    gap: 10px;
    width: auto;
}

.answer-buttons:hover {
    cursor: pointer;
}
/* End: Quiz */
/* End: Main */


/* Only applies to highscores.html */
/* Only applies to highscores.html */
/* Only applies to highscores.html */

/* Beginning: Header */
#quiz-link {
    float: left;
    font-size: 20px;
}
/* End: Header */

/* Beginning: Scores */
#score-list {
    margin-left: 30px;
}
/* End: Scores */