* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }

#highscore-link {
    float: left;
}

#timer {
    float: right;
}

.main {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#start-btn {
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
}

#start-btn:hover {
    cursor: pointer;
}
